:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color:rgb(62, 62, 62);
    --text-color: rgb(0, 0, 0);
}
.dark-mode{
    --primary-color: rgb(0, 0, 0);
    --secondary-color: black;
    --text-color: rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #ffffff; */
    font-family: merryweather, serif;
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    border-radius: 5px;

}
h1{
    color: var(--text-color);

}
h2 {
    color: var(--text-color);
}

p{
    color: var(--text-color);
    font-size: 18px;
    margin: 5px 0;
}
button{
    padding: 10px 15px;
    font-size: 16px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}