* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #ffffff; */
    font-family: merryweather, serif;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    border-radius: 5px;

}
h1{
    color: darkblue;

}

p{
    color: rgb(62, 62, 62);
    font-size: 18px;
    margin: 5px 0;
}
button{
    padding: 10px 15px;
    font-size: 16px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}