*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#008080;
    --border-color: rgb(6, 53, 53);
}
.box{
    border: 2px solid var(--border-color);
    margin: 50px auto;
    height: 500px;
    width: 500px;
    position: relative;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0px;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 20;
    bottom: 10;
    right: 10px;
}

.box3{
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 20;
    left: 20;
    bottom: 20;
    right: 20px;
}

.box4{
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 20;
    left: 20;
    bottom: 20;
    right: 20px;
}
