@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background: #ffffff;
  color: #ffffff;
  min-height: 70px;
  /* border-bottom: #e8491d 3px solid; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.navLink {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}
.navLink a {
  color: #008080;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.navLink a:hover {
  color: #008080;
}
.navLink a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -3px;
  height: 2px;
  margin-top: 5px;
  left: 0;
  background: #008080;
  transition: width 0.3s ease-in-out;
}
.navLink a:hover::after {
  width: 100%;
}
.login {
  background-color: #ffffff;
  width: 15.4%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.loginbtn {
  font-weight: 700;
  background-color: #ffffff;
  color: #008080;
  padding: 10px 20px;
  width: 50%;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out;
}
.signupbtn {
  font-weight: 700;
  background-color: #008080;
  color: #ffffff;
  width: 50%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.loginbtn:hover {
  background-color: #f4f4f4;
}
.signupbtn:hover {
  background-color: #006666;
}
#main {
  padding: 20px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  padding-left: 100px;
  padding-top: 40px;
  margin: 0, 10px;
}
.top {
  display: block;
  width: 63px;
  padding-top: 4px;
  padding-left: 5px;
  height: 25px;
  background-color: #008080;
  border-radius: 15px;
  color: #ffffff;
}
.image {
  width: 55%;
  height: 500px;
  padding: 70px;
  margin-bottom: 30px;
}
.image img {
  width: 90%;
  height: 450px;
  border-radius: 25px 35px 45px 35px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.content > h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #333333;
}
p {
  font-size: 25px;
  margin-bottom: 20px;
  color: #666666;
}
.btn {
  display: flex;
  width: 420px;
}
