/*extension:- pesticide */
:root{
    --primary-color:#008080
}
#bx{
    border: 2px solid rgb(39, 96, 96);
    height: 420px;
    width: 420px;
    margin: 50px auto;
    padding: 60px;
    
}
figcaption{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 20px;
}

.box{
    border: 2px solid rgb(39, 96, 96);
    height: 100px;
    width: 100px;
    
    /* margin: 20px; */
    background-color: var(--primary-color);
}
.box1{
    border: 2px solid rgb(39, 96, 96);
    height: 100px;
    width: 100px;
    margin-left: 103px;
     background-color: var(--primary-color);
}
.box2{
    border: 2px solid rgb(39, 96, 96);
    height: 100px;
    width: 100px;
    
    margin-left: 206px;
    background-color: var(--primary-color);
}
.box3{
    border: 2px solid rgb(39, 96, 96);
    height: 100px;
    width: 100px;
    
    margin-left: 310px;
   background-color: var(--primary-color);
}

/* colorhunt.co */
/* Use of Css in semantic tag and universal selector. */