* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}
.container {
  display: grid;
  width: 900px;
  height: 700px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header "
    "nav content content "
    "nav content content "
    "footer footer footer ";

  padding: 20px;
}
.box {
  background-color: rgb(8, 69, 89);
  min-height: 100px;
  border: 2px solid black;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgb(83, 190, 83);
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(83, 190, 83);
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: rgb(241, 241, 24);
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  background-color: red;
}
#sidebar {
  background-color: rgb(241, 165, 24);
}
h1 {
  color: white;
  text-align: center;
  padding: 20px;
}
#nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#nav ul li a {
  color: white;
  font-size: 20px;
}
